version: 2.1

jobs:
  deploy:
    docker:
      - image: google/cloud-sdk:slim

    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Authenticate WIF
          command: |
            gcloud auth login --cred-file=$GOOGLE_WIF_CRED
            gcloud config set project $PROJECT_ID

      - run:
          name: Build Docker
          command: |
            docker build -t us-central1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app .

      - run:
          name: Push Image
          command: |
            gcloud auth configure-docker us-central1-docker.pkg.dev
            docker push us-central1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app

      - run:
          name: Deploy Cloud Run
          command: |
            gcloud run deploy my-service \
              --image us-central1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/app \
              --region us-central1 \
              --allow-unauthenticated

workflows:
  deploy-workflow:
    jobs:
      - deploy
