version: 2.1

jobs:
  deploy:
    docker:
      - image: google/cloud-sdk:slim

    environment:
      IMAGE_NAME: app

    steps:
      - checkout
      - setup_remote_docker

      - run:
          name: Authenticate with WIF
          command: |
            echo "$CIRCLE_OIDC_TOKEN" > oidc_token.txt

            gcloud iam workload-identity-pools create-cred-config \
            projects/$PROJECT_NUMBER/locations/global/workloadIdentityPools/$WIF_POOL/providers/$WIF_PROVIDER \
            --service-account=$SERVICE_ACCOUNT \
            --credential-source-file=oidc_token.txt \
            --output-file=cred.json

            gcloud auth login --cred-file=cred.json
            gcloud config set project $PROJECT_ID

      - run:
          name: Build Docker Image
          command: |
            docker build -t us-central1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME .

      - run:
          name: Push Image
          command: |
            gcloud auth configure-docker us-central1-docker.pkg.dev
            docker push us-central1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME

      - run:
          name: Deploy to Cloud Run
          command: |
            gcloud run deploy my-service \
              --image us-central1-docker.pkg.dev/$PROJECT_ID/$REPO_NAME/$IMAGE_NAME \
              --region us-central1 \
              --platform managed \
              --allow-unauthenticated

workflows:
  deploy-workflow:
    jobs:
      - deploy
