version: 2.1

jobs:
  build-and-run:
    docker:
      - image: cimg/base:stable

    steps:
      - checkout

      - setup_remote_docker

      - run:
          name: Build Docker Image
          command: |
            docker build -t my-app .

      - run:
          name: Run Container
          command: |
            docker run -d -p 3000:3000 my-app

workflows:
  version: 2
  build:
    jobs:
      - build